<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.shadow578.music_dl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MusicDLApp"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YTMusicDL"
        android:usesCleartextTraffic="true">

        <!-- splash screen -->
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- main -->
        <activity android:name=".ui.main.MainActivity" />

        <!-- share -->
        <activity android:name=".share.ShareTargetActivity">
            <intent-filter android:label="Download from YouTube">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- services -->
        <service android:name=".downloader.DownloaderService" />
    </application>
</manifest>