<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.shadow578.yodel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".YodelApp"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yodel"
        android:usesCleartextTraffic="true">

        <!-- splash screen -->
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- main -->
        <activity android:name=".ui.main.MainActivity" />

        <!-- share -->
        <activity
            android:name=".ui.share.ShareTargetActivity"
            android:exported="true">
            <intent-filter android:label="@string/share_to_download_label">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- dev tools -->
        <activity android:name=".ui.dev.DeveloperToolsActivity" />

        <!-- global file provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.global_file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- services -->
        <service android:name=".downloader.DownloaderService" />
    </application>
</manifest>